$breakPoint: 576px;

hr {
  border: 1px solid #eee;
  width: 100%;
  @media screen and (min-width: $breakPoint) {
    border-color: #cfcfcf;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 16px;
  max-width: 620px;
  background-color: #f9f9f9;
  * {
    margin: 0;
  }

  h4,
  h2 {
    align-self: flex-start;
    font-weight: 500;
  }
  h2 {
    font-size: 20px;
    margin-block: 25px 21px;
    line-height: 28px;
  }
  h4 {
    font-size: 14px;
    margin-top: 24px;
    line-height: 21px;
  }

  @media screen and (min-width: $breakPoint) {
    h2 {
      font-weight: 700;
      font-size: 24px;
      margin-top: 40px;
    }

    margin-inline: auto;
  }
}

.files-container {
  width: 100%;
  @media screen and (min-width: $breakPoint) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}
